*{
    margin: 0;
    padding: 0;
    font-style: sans-serif;
    box-sizing: border-box;
}h1
            {
                text-align: center;
                font-size: 50px;
                background-color: #030833;
                color: white;
            }
              h2{
                font-size: 40px;
              }
              h3{
                font-size: 30px;
              }
            body
            {
                font-size: 20px;
                padding-bottom: 10%;
                
            }
            #p1{
                font-size: 35px;
                text-align: center;
                padding-top: 3%;
                padding-bottom: 1%;
            }       
            img 
            {
                height: 350px;
                width: 500px;
            }
            
             .head{
                border: 2px solid black;
                background-color: #2b2b2b;
            }
            .head{
                display: grid;
                place-items: center;
            }
            .head li{
                list-style-type: none;
                display: flex;
                justify-content: center;
            }
            .head ul a{
                display: inline-block;
                padding: 20px;
                text-decoration: none;
                color:white;
                transition: 0.2s ease-in;
                font-size: 30px;
            }
            .head ul a:hover{
                background-color: black;
                color: white;
            }
            footer{
                color: black;
                text-align: center;
                font-size: 30px;
            
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .div1{
                padding-left: 5%;
                padding-bottom: 1%;
                padding-top: 1%;
                padding-right: 2%;
              
                margin-top: 1%;
                margin-bottom: 1%;
                border-top-left-radius: 50px;
                border-bottom-right-radius: 50px;
                margin-left: 5%;
                margin-right: 35%; 
                font-size: 22px;
                background-color: rgba(221, 187, 218, 0.329);
                line-height: 120%;
            }
          
            
            .div2{
                padding-left: 5%;
                
                padding-bottom: 1%;
                padding-top: 1%;
                padding-right: 2%;
                margin-top: 1%;
                margin-bottom: 1%;
              border-top-left-radius: 50px;
              border-bottom-right-radius: 50px;
              margin-left: 15%;
              margin-right: 25%;
              line-height: 110%;
              background-color: rgba(221, 187, 218, 0.329);
              line-height: 120%;
            }
            #myBtn {
                display: none;
                position: fixed;
                bottom: 20px;
                right: 30px;
                z-index: 99;
                font-size: 18px;
                border: none;
                outline: none;
                background-color: black;
                color: white;
                cursor: pointer;
                padding: 15px;
                border-radius: 4px;
              }
              
              #myBtn:hover {
                background-color: #555;
              }